.navbar-default:hover {
  background-color: #b0d8ff;
}

.navbar { background-color: #67b2fc;
                           font-family: Arial;
                           font-size: 16px;
                           color: #67b2fc; 
}

.navbar-default .navbar-brand {
                         color: #ffffff;
			 font-weight: bold;				
}

.navbar .nav > li > a, .navbar .nav > li {
color:          white;
text-shadow:    none;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          black;                      
text-shadow:    none;
}

h2 {
  color: #00008b;
}

h3 {
  color: #00008b;
}

p {
  color: #113753;
}

a{
  color: hotpink;
}