.navbar-default:hover {
    background-color: #67b2fc;
}

.navbar { background-color: #b0d8ff;
                           font-family: Arial;
                           font-size: 16px;
                           color: #b0d8ff; 
}