.navbar-default:hover {
  background-color: #b0d8ff;
}

.navbar { background-color: #67b2fc;
                           font-family: Arial;
                           font-size: 16px;
                           color: #67b2fc; 
}

h2 {
  color: #00008b;
}

h3 {
  color: #00008b;
}

p {
  color: #cd5c5c;
}